/**
  |============================
  | Cards-set
  |============================
*/
.cards-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-set__item {
  width: calc((100% - 60px) / 3);

  border: 1px solid #eeeeee;
  background: #ffffff;
}
