/**
  |============================
  | Advantages
  |============================
*/
.advantages__list {
  display: flex;
  gap: 30px;
}
.advantages__item {
}
.advantages__overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  background-color: var(--btn-light);
}
.advantages__title {
  font-weight: 700;
  font-size: 14px;

  line-height: 1.2;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.advantages__description {
  line-height: 1.7;

  width: 270px;
  color: var(--main-light);
}
